.product-card {
    width: 100%;
    height: 100%;
    .card {
        width: 100%;
        height: 100%;
        .title {
            font-size: 18px;
            line-height: 22px;
        }
        .description {
            font-size: 14px;
            line-height: 18px;
        }
    }
    .media {
        height: 100%;
        padding-top: 56.25%;
    }
    .no-image {
        padding: 20px;
        text-align: center;
        background-color: #f0f0f0;
    }
}